# Ensure shell scripts always have LF line endings (Unix-style)
*.sh text eol=lf
**/init/*.sh text eol=lf
**/localstack-init/*.sh text eol=lf
*.entrypoint text eol=lf

# Ensure PowerShell scripts have CRLF line endings (Windows-style)
*.ps1 text eol=crlf

# Default behavior for other text files
* text=auto
